
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: var(--blanco);
  }
  
  footer .btn-new {
    width: 100%;
    text-align: center;
    padding: 13px 0px;
    background-color: var(--verde);
    border: none;
    color: var(--blanco);
    font-size: 14px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  footer button b {
    font-size: 20px;
  }
  
  footer button:hover{
    border: 1px solid var(--verde);
    background-color: var(--blanco);
    color: var(--verde);
  }
  
  .todo-new {
    width: 100%;
    padding: 30px 20px;
    border: 1px solid var(--verde);
    border-bottom: none;
    border-top: none;
  }
  
  .todo-new textarea {
    resize: none;
    width: 100%;
    height: 80px;
    outline: none;
    border: 1px solid;
    border-color: var(--gris-oscuro-2);
    border-radius: 10px;
    padding: 8px;
  }
  
  .todo-new-buttons{
    display: flex;
    justify-content: flex-end;
  }
  
  .todo-new button {
    margin-top: 10px;
    padding: 6px 12px;
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid var(--gris-oscuro-2);
    border-radius: 5px;
  }
  
  .todo-new .save {
    background-color: var(--verde);
    color: var(--blanco);
  }
  
  .todo-new .save:hover{
    background-color: #116647;
  }
  
  .todo-new .cancel {
    color: var(--gris-oscuro-2);
  }
  
  
  ul li {
    list-style: none;
  }
  
  .inactive{
    display: none;
  }
  
  .hidden {
    margin-bottom: -183px;
  }
  